<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <!-- NEWS BAR -->
        <div class="newsbar">
            <span class="heading">CRYPTO TRENDS</span>
            <P>Read alticle and Invest wisely.</P>
            <button>Explore</button>
        </div>







    <!-- ALL CRYPTO BOX -->


    <div class="crypto">
        
        
<!--CATEGORY /  TOP  -->
<span class="top"> Top </span>
<div class="line1"></div>
<!--CATEGORY /  TOP  -->




        <!-- BitCoin -->
        <div class="currency">
            <img src="imgs/bitcoin.png" class="logo">
            <div class="name">
                <h2>Bitcoin</h2>
                <p>BTC</p>
            </div>
            <div class="price">
                <p>₹
                <p>
                <h3><%= bitcoin %></h3>
            </div>
        </div>


        <!-- Etherum -->
        <div class="currency">
            <img src="imgs/etherum.png" class="logo">
            <div class="name">
                <h2>Ethereum</h2>
                <p>ETHER</p>
            </div>
            <div class="price">
                <p>₹
                <p>
                <h3><%= bitcoin %></h3>
            </div>
        </div>
        <!-- Etherum -->








        <!-- Etherum -->
        <div class="currency">
            <img src="imgs/dogecoin.png" class="logo">
            <div class="name">
                <h2>Dogecoin</h2>
                <p>DOGE</p>
            </div>
            <div class="price">
                <p>₹
                <p>
                <h3><%= dogecoin %></h3>
            </div>
        </div>
        <!-- Etherum -->





<!--CATEGORY /  TOP  -->
<span class="top"> Meme Coins </span>
<div class="line1"></div>

<!--CATEGORY /  TOP  -->



   <!-- Etherum -->
   <div class="currency">
    <img src="imgs/dogecoin.png" class="logo">
    <div class="name">
        <h2>Dogecoin</h2>
        <p>DOGE</p>
    </div>
    <div class="price">
        <p>₹
        <p>
        <h3><%= dogecoin %></h3>
    </div>
</div>
<!-- Etherum -->


       
        











    </div>





</body>

</html>